@import '../../style/colors.scss';

.appContainer {
  margin-top: 20px;
  margin-bottom: 20px;
}

.subcard {
  margin: 10px;
  padding: 10px;
  background-color: $text;
  color: white;
  border: none;

  h4 {
    color: $base;
  }
}

.noBorder {
  border: none;
  padding-top: 15px;
}
